html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Reem Kufi', sans-serif;
}
h2,h3{
    font-size: 250%;
}
.background-primary-gradient{
    background-image: linear-gradient(135deg, #79db94 0, #67d296 10%, #54c897 20%, #42bc96 30%, #31ae92 40%, #219e8c 50%, #158e84 60%, #0c807d 70%, #0a7476 80%, #0b6a6f 90%, #0f616a 100%);
}
.background-primary{
    background-color: #0b6a6f;
}
.primary-color{
    color: #0b6a6f;
}
.white{
    color: #fff !important;
}
/** TEXT **/
.text{
    font-size: 20px;
    line-height: 2.4;
    letter-spacing: 1px;
}
.text-right{
    text-align: right;
}
.text-right-responsive{
    text-align: right;
}
.text-justify{
    text-align: justify;
}
@media (max-width: 1024px){
    .text-right-responsive{
        text-align: justify;
    }
}
/*************************************/
/**PRIMARY BUTTON**/
.primary-button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    border-radius: 5px;
    color: #000;
    background: #fff;
    font-size: 25px;
    padding: 12px 55px;
    transition: .3s ease-in-out all;
    position: relative;
    overflow: hidden;
    word-spacing: 10px;
}
.primary-button:hover{
    border: 2px solid #0b6a6f;
    color: #fff;
}
.primary-button::after {
	content: "";
	width: 120%;
	position: absolute;
	z-index: 1;
	top: 0;
	left: calc(-200% - 0px);
	border-bottom: 100px solid #0b6a6f;
	border-right: 30px solid transparent;
	transition: .4s ease-in-out all;
}

.primary-button:hover::after {
	left: 0;
}
.primary-button span{
    position: relative;
	z-index: 2;
	transition: .3s ease all;
    font-size: 21px;
}
.primary-button-2{
    border: none;
    border-radius: 5px;
    color: #fff;
    background: #0b6a6f;
    font-size: 25px;
    padding: 12px 55px;
    transition: .3s ease-in-out all;
    word-spacing: 10px;
}
.primary-button-2:hover{
    transform: translateY(-10px);
}
@media (max-width: 1024px){
    .primary-button-container{
        text-align: center !important;
    }
}
/*********************************/
/** SECTION **/
.first-section{
    margin-top: 100px;
}
.section-title{
    font-size: 136px;
}
.section-title-small{
    color:#0b6a6f;
    font-size: 56px;
}
span.section-title-decoration-center{
    display: block;
    height: 6px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffde7d;
}
.section-subtitle{
    color: #f6416c;
}
div.section{
    padding-left: 10%;
    padding-right: 10%;
}
@media (max-width: 1024px){
    .first-section{
        margin-top: 20px;
    }
    .section-title{
        font-size: 45px;
    }
    .section-image{
        margin-top: 40px;
    }
}

/**********************/
/** SLIDER **/
.slider{
    padding: 80px 0px 0px 0px;
    height: 91.5vh;
}
#slider-image{
    width: 65%;
 }
.main-title{
    font-size: 800%;
    letter-spacing: 55px;
}
.sub-title{
    color: #fff;
    font-size: 250%;
    letter-spacing: 8px;
}
#main-slider{
    padding: 2% 0 0 0;
}
@media (max-width:1024px){
    .slider{
        height: 100vh;
    }
    .main-title{
        font-size: 500%;
        letter-spacing: 40px;
        padding-left: 25px;
    }
    .sub-title{
        margin-top: 40px;
    }
    #slider-image{
        width: 100%;
     }
     #main-slider{
        padding: 15% 0 0 0;
    }
}
/************************/

/** TOP MENU **/
#top-menu{
    z-index: 999;
    position: sticky;
    top: 0; 
    background: #fff;
    box-shadow: 0px 0px 25px black;
}
#top-menu div.row{
    align-items: center;
}
#top-menu #menu-indicator{
    position: absolute;
    bottom: 0;
    width: 0px;
    height: 7px;
    background: #219e8d;
    transition: .3s ease-out all;
    /*transform: translate(-500px);*/
}
#top-menu button{
    border: none;
    border-bottom: 3px solid #fff;
    font-size: 25px;
    transition: .3s ease all;
}
#top-menu button:hover{
    transform: translateY(-8px)
}
#top-menu button a{
    text-decoration: none;
    color: #000;
    background-color: #fff;
}
#top-menu button a:hover{
    color: #219e8d;
}
@media (max-width:1024px){
    #top-menu{
        position: relative;
    }
    #top-menu button{
        font-size: 17px;  
    }
}

/************************/
/** IMG SLIDER **/
.img-slider-container{
    position: relative;
    overflow: hidden;
}
.img-slider{
    display: flex;
    
    width: 300%;
}
.img-slider-section img{
    width: 100%;
    display: block;
    height: 100%;
}
.img-slider-button-left{
    position: absolute;
    top: 50%;
    left: 3%;
    cursor: pointer;
}
.img-slider-button-right{
    position: absolute;
    top: 50%;
    right: 3%;
    cursor: pointer;
}
.img-slider-container svg{
    width: 55px;
    height: 55px;
    color: #000;
}

@media (max-width: 1024px){
    .img-slider-container svg{
        width: 25px;
        height: 25px;
    }
}
/************************/
/**CARD VIEW**/
.card-view{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 17px -3px #000;
}
.card-view-img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}



/**********************/



/**RESPONSIVE IMAGES**/


#home-icon-1,#home-icon-2,#home-icon-3{
    max-width: 30%;
}
#function-section{
    background-image: url(../img/bg-decoration.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 95%;
}
@media (max-width:1024px){
    #home-icon-1,#home-icon-2,#home-icon-3{
        max-width: 40%;
    }
    #function-section{
        background-image: none;
    }
}
.card-view-title{
    font-size: 30px;
    font-weight: bold;
}






/***********************/